/* body */
body {
    color: #000000;
    background-color: #ededed;
}

/* links */
a:link {
    color: #000000;
}
a:visited {
    color: #000000;
}
a:hover {
    color: #000000;
}
a:active {
    color: #000000;
}